
body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #dddedfd2;
}
.container{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
header{
    display: flex;
    background-color: #00B7D4;
    text-align: center;
    width: 100%;
    height: 13vh;
}
header h1{
    display: inline-block;
    font-size: 1.5em;
    text-align: center;
    color: black;
    font-weight: bold;
    margin: auto;
    line-height: 2.5em;
}
.subtitulo{
    display: inline-block;
    width: 100%;
    height: 5vh;
    text-align: center;
    line-height: 0;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    padding: auto;
}
#contenido-central{
    width: 80%;
    height: 80vh;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.description-me h2{
    display: inline-block;
    text-align: left;
    min-width: 300px;
    max-width: 100%;
    margin: 0px 0 20px 0;
    font-weight: 400;
    font-size: 1.1em;
}
dt,
h3{
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-top: 30px;
    font-weight: 400;
}
#foto{
    display: inline-block;
    width: 100%; 
    max-width: 80%;
    
}
#foto img{  
    width: 250px;
    background-color:white;
    
    padding:10px 10px 50px 10px;
    border:1px solid #BFBFBF;
    box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
    
}
li{
    line-height: 2em;
    list-style: square;
}

.proyects ul li a{
    text-decoration: none;
    color: #505488;
    transition: all 300ms;
}
.proyects ul li a:hover{
    text-decoration: underline;
    color: #342ead;
}

.social-accounts div ul li a i{
    display: inline-block;
    color: #00B7D4;
    font-size: 2.5em;
    margin-top: 10px;
    transition: all 200ms;
}
.social-accounts div ul li a i:hover{
    color: #505488;
}
.social-accounts div ul li a i:active{
    color: red;;
}

