
body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #dddedfd2;
}
.container{
    width: 100%;
    height: 80vh;

}
header{
    display: flex;
    background-color: #a4b0be;
    text-align: center;
    width: 100%;
    height: 13vh;
}
header h1{
    display: inline-block;
    font-size: 1.5em;
    text-align: center;
    color: black;
    font-weight: bold;
    margin: auto;
    line-height: 3.5em;
}
.subtitulo{
    text-align: center;
    padding: 8px;
    color: white;
    font-weight: bold;
}
#contenido-central{
    width: 80%;
    height: 200px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
section>#contenido-central>.educacion{
    display: inline-block;
    width: 65%;
    vertical-align: top;
}
.educacion .description-me h2{
    display: inline-block;
    text-align: left;
    min-width: 300px;
    max-width: 100%;
    margin: 0px 0 20px 0;
    font-weight: 400;
    font-size: 1.3em;
}
dt,
h3{
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-top: 30px;
    font-weight: 400;
}
#foto{
    
    display: inline-block;
    width: 30%;
    max-width: 80%;
}
#foto img{  
    width: 300px;
}
li{
    line-height: 2em;
    list-style: square;
}

.proyects ul li a{
    text-decoration: none;
    color: black;
    transition: all 300ms;
}
.proyects ul li a:hover{
    
    text-decoration: underline;
    color: #342ead;
    transform: scale(1.2,1.2);
}

.social-accounts div ul li a i{
    display: inline-block;
    color: black;
    font-size: 2.5em;
    margin-top: 10px;
    transition: all 200ms;
}
.social-accounts div ul li a i:hover{
    color: #747d8c;;
}
.social-accounts div ul li a i:active{
    color: red;;
}

@media (min-width:800px){
    
}