@media (max-width:1500px){
    .container{
        width: 95%;
        height: 90vh;
    }
    .iniciar-sesion>input{
        width: 60%;
    }
    .socialtext{
        margin-top: 20px;
    }
}
@media (max-height:915px){
    .socialtext{
        margin-top: 10px;
    }
}
@media (max-height:823px){
    .first-column{
        overflow-y: scroll;
        height: 100%;
    }
}
@media (max-width:500px){
    html,body{
        height: 100vh;
    }
    .container{
        height: 100%;
        margin: 0;
        width: 100%;
    }
    .presentacion{
        display: none;
    }
    .first-column{
        width: 100%;
        height: 100%;
    }
    .socialtext{
        margin-top: 70px;
    }
}
@media (min-height:1000px){
    .container{
        height: 60vh;
    }
}
@media (min-height:1500px){
    .container{
        height: 70vh;
    }
}
@media (min-height:350px){
    .container{
        height: 100%;
    }
}