$color-gray:rgb(95, 95, 95);

body{
    background-color: rgb(214, 214, 214);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.7px;
    height: 120vh;
    width: 100vw;
}
/*Contenedor principal*/
.cont-princ{
    overflow-x: hidden;
    background-color: white;
    height: 120vh;
    width: 100%;
    margin: 1.4em auto;
    padding-top: 10px;
}
/*HEADER*/
.logo{
    font-weight: 700;
    font-size: 1.5em;
    color: $color-gray;
    transition: all 300ms;
    margin-left: 10px;
    
}
.logo:hover{
    cursor: pointer;
}
li:first-child{
    margin-top: 0;
}
li{
    margin-top: 10px;
    list-style: square;
}
ul li a{
    text-decoration: none;
    color: $color-gray;
    font-weight: 400;
}
/*Imagen*/
img{
    width: 100%;
    height: 15em;
}
/*Imagenes ocultas para movil*/
img.imagenes{
    display: none;
}
.caja h3{
    text-align: center;
}